/* .text-section {
    text-align: center;
    margin-top: 100px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;    
  }
  
  .box {
    position: relative;
  }
  
  .box img {
    width: 265px;
    height: 300px;
    margin-left: 30px;
    margin-bottom: 10px;
    border-radius: 0 0 15% 0;
  }
  
  .text-over-image {
    position: absolute;
    bottom: 10%;
    left: 20%;
    color: #fff;
    font-weight: 500;
}

 .text-over-image h6{
    font-size: 14px;
    font-family: sans-serif;
    
 }
 .header-text{
    text-align: center;
    margin-top: 170px;
 }
  
  */

  .text-section,
.header-text {
  text-align: center;
  margin-top: 100px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.box {
  position: relative;
}

.box img {
  width: 265px;
  height: 300px;
  margin-left: 30px;
  margin-bottom: 10px;
  border-radius: 0 0 15% 0;
}

.text-over-image {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: #fff;
  font-weight: 500;
}

.text-over-image h4,
.text-over-image h5,
.text-over-image h6,
.header-text h2 {
  margin-bottom: 10px;
  padding:0px 30px;
  font-size: 17px;
  
}

.text-over-image p,
.text-over-image h6 {
  margin-bottom: 0;
}
